<div class="container">
  <h1>
      Imginterest!
    </h1>
    <br>
    <br>
    <h2>First register in the app</h2>
    <br>
    <br>
    <div class="form-line">
    <div class="form-group">
      <label>Email:</label>
    <input class="form-control" type="email" placeholder="Email here" [(ngModel)]="model.email">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" placeholder="Enter Password (8 digits min)" [(ngModel)]="model.password">
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control"placeholder="Password">
      </div>
    <div class="form-group" >
      <label>FullName</label>
      <input type="fullname" class="form-control" placeholder="Enter Name" [(ngModel)]="model.fullname">
    </div>
  <button class="btn btn-primary"(click)="register()">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    Submit
  </button>
</div>
</div>