<ul class="list-group" id='infinite-list'>
		<div *ngIf="crud_operation.is_visible">
				<label>Name:</label>
				<input type="text" [(ngModel)]="tag.name">
				<button class="btn btn-success" (click)="newTag()">Confirm</button>
		</div>
	<li class="list-group-item d-flex justify-content-between align-items-center mt-2">
		<h3>Image Gallery</h3>
	</li>
  	<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let image of images">
		{{image.url}}
			<button class="btn btn-warning" (click)="new()">
				Add Tag
			</button>
		</li>
</ul>

