<div class="container">
    <h1>
        Welcome to Imginterest!
      </h1>
      <br>
      <br>
      <br>
      <br>
  <div class="form-group">
      <div class="form-group">
        <label>Email:</label>
        <input class="form-control" type="email" placeholder="Email here..." [(ngModel)]="email">
     </div>
     <div class="form-group">
        <label>Password:</label>
        <input class="form-control" type="password" placeholder="Secure pwd here..." [(ngModel)]="password">
     </div>
     <div class="form-line">
        <button class="btn btn-primary"(click)="login()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Login
        </button>
        <a routerLink="/register">Register</a>
     </div>
  </div>
</div>
