<div class="d-flex justify-content-between align-items-center mt-2">
	<h4 class="center white-text">Add Image </h4>
	<div class="container">
		<label>Description:</label>
		<input type="text" [(ngModel)]="image.description">
		<input type="file"  alt="url" [(ngModel)]="image.url">
		<br>
		<label>State:</label>
		<input type="text" [(ngModel)]="image.isPrivate">
		<button class="btn btn-primary" (click)="save()"><i class="fas fa-save"></i></button>
	</div>	
</div>
